<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SalmanFaiza</title>
  </head>
  <body>
    <div class="hero">
      <div class="navbar">
        <img src="/assets/bubble/sf.png" class="logo" />
        <!-- <button type="button">Sign Up</button> -->
      </div>
      <div class="content">
        <strong>Welcome To</strong>
        <h1>
          Salman & Faiza <br />
          Life Gallery
        </h1>
        <button type="button" (click)="onButtonClick()" >Take a tour</button>
      </div>
     <!--  <div class="side-bar">
        <img src="/assets/bubble/menu.png" class="menu" />

        <div class="social-links">
          <img src="/assets/bubble/fb.png" />
          <img src="/assets/bubble/ig.png" />
          <img src="/assets/bubble/tw.png" />
        </div>

        <div class="useful-links">
          <img src="/assets/bubble/share.png" />
          <img src="/assets/bubble/info.png" />
        </div>
      </div>
      <div class="bubbles">
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
        <img src="/assets/bubble/heart2.png" />
      </div>
 -->
      <div class="right-col">
        <p>Thoda Thoda Pyaar Huwa Tum se....</p>
        <img src="/assets/music/play.png"  id="icon" />
        <!-- <img src="/assets/music/pause.png" (click)="togglePlay()" id="icon" /> --> 
      </div>
      
      <audio id="mySong">
        <source src="/assets/music/music.mp3" type="audio/mp3" />
        
      </audio>
    </div>
  </body>
</html>
